:root {
    --text-color: #e3e3e3;
    --subheading-color: #828282;
    --placeholder-color: #a6a6a6;
    --primary-color: #242424;
    --secondary-color: #383838;
    --secondary-hover-color: #444
}

.light_mode {
    --text-color: #222;
    --subheading-color: #a0a0a0;
    --placeholder-color: #6c6c6c;
    --primary-color: #fff;
    --secondary-color: #e9eef6;
    --secondary-hover-color: #DBE1EA;
}

body {
    background-color: var(--primary-color);
}

header {}

body.hide-header .header {
    display: none;
    margin-top: 0;
}

.header,
.typing-area {
    color: var(--text-color);
}

.header .title {
    width: fit-content;
    background: linear-gradient(to right, #4285f4, #d96570);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .subtitle {
    font-size: 2.4rem;
    color: var(--subheading-color);
}

.suggestion-list {
    scrollbar-width: none;
}

.suggestion-list .suggestion {
    background-color: var(--secondary-color);
    cursor: pointer;
    flex-shrink: 0;
}

.suggestion-list .suggestion:hover {
    background-color: var(--secondary-hover-color);
}

.suggestion-list .suggestion .icon {
    height: 42px;
    width: 42px;
    background-color: var(--primary-color);
}


.chat-list {
    max-height: 500px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat-list .message .avatar {
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.chat-list .loading .avatar {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.chat-list .message .text {
    color: var(--text-color);
}

.chat-list .loading .text {
    display: none;
}

.copy {
    width: 35px;
    height: 35px;
    color: var(--text-color);
    cursor: pointer;
    visibility: hidden;
}

.chat-list .message:not(.loading):hover .copy {
    visibility: visible;
}

.copy:hover {
    background-color: var(--secondary-color);
}

.chat-list .loading-indicator {
    display: none;
}

.chat-list .message.loading .loading-indicator {
    display: flex;
}

.chat-list .loading-indicator .loading-bar {
    width: 100%;
    height: 11px;
    border-radius: .14rem;
    background: linear-gradient(to right, #4285f4, var(--primary-color), #4285f4);
    animation: animate 3s linear infinite;
}

.chat-list .loading-indicator .loading-bar:last-child {
    width: 70%;
}

@keyframes animate {
    0% {
        background-position: -800px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

.typing-area .input-wrapper {
    height: 56px;
}

.typing-area input {
    outline: none;
    padding: 1.1rem 4rem 1.1rem 1.5rem;
    color: var(--text-color);
    background-color: var(--secondary-color);
}

.typing-area .icon {
    background-color: var(--secondary-color);
    width: 56px;
    height: 56px;
    cursor: pointer;
    outline: none;
    color: var(--text-color);
}

.input-wrapper .icon {
    transform: scale(0);
    transition: transform .2s ease;
}

input:valid~.send {
    transform: scale(1);
}

.typing-area .icon:hover {
    background-color: var(--secondary-hover-color) !important;
}

form,
.chat-list .message {
    max-width: 1000px;
    margin: 0 auto;
}